/* Heading at centre and changing font style */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: content-box;
}

.box{
    background-color: #f2f2f2;
    margin: 30px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

h1{
    text-align: center;
}

.first{
    background-color: #8dc88d;
    margin: 20px;
    padding: 30px;
    line-height: 25px;
    
}

/* Adjusting image size*/
img{
    width: 25px;
} 

.second{
    background-color: #f2f2f2;
    margin: 20px;
    padding: 30px;
}

input[type="text"],
input[type="email"],
textarea{
    width:100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px; 
}


